<div class="game-mode-selector">
  <h2 class="selector-title">{{ translationService.translate('gameMode.title') }}</h2>
  
  <div class="mode-cards">
    <div 
      *ngFor="let gameMode of gameModes"
      class="mode-card"
      (click)="selectMode(gameMode.mode)"
      [attr.data-mode]="gameMode.mode"
    >
      <div class="mode-icon">{{ gameMode.icon }}</div>
      <h3 class="mode-title">{{ translationService.translate(gameMode.titleKey) }}</h3>
      <p class="mode-description">{{ translationService.translate(gameMode.descriptionKey) }}</p>
    </div>
  </div>
</div>
